In [3]:
#프린트문 연습중입니다.
print('Hello')
print('Python')
print('홍길동', '나이 =', 20, '세')

Hello
Python
홍길동 나이 = 20 세

In [5]:
print("Hello"), print('Python')

print('Nice \
      to meet you')

Hello
Python
Nice       to meet you

In [7]:
print('Hi','Python')
print('Hi', 'Python',sep='')

Hi Python
HiPython

In [8]:
print('Hi', end=' ')
print('Python')

Hi Python

In [9]:
name = '김철수'
age = 7

print(name, '나이 =', age, '세')

김철수 나이 = 7 세

In [10]:
type(name)

str

In [11]:
type(age)

int

In [12]:
name = 29
name

29

In [13]:
type(name)

int

In [14]:
str()
int()
float()
bool()

False

In [15]:
bool('True')

True

In [16]:
type('True')

str

In [17]:
type(True)

bool

In [18]:
bool(True)

True

In [19]:
bool(5)

True

In [20]:
num1 = 3
num2 = 4
hap = num1 + num2
print(hap)

7

In [21]:
type(num1)

int

In [22]:
3==4

False

In [24]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a %b)

7
-1
12
0.75
0
3

In [30]:
n = 1234

print(n//1000,
n//100%10,
n//10%10,
n%10)

1 2 3 4

In [27]:
pay = 12345678

pay - pay % 100

12345600

In [33]:
a=1234
b=2
c = a %(10**b) // (10**(b-1))
print(c)

3

In [34]:
print((3<5) and(3>0))
print((4<7) or (5>8))
print(not(5<9))

True
True
False

In [35]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [36]:
'어머님은 \'자장면이\'이 싫다고 하셨어'

"어머님은 '자장면이'이 싫다고 하셨어"

In [38]:
head = "Python"
tail = "Hello"

head + tail

'PythonHello'

In [39]:
type(head)

str

In [40]:
samplestring = "Life is too short"
len(samplestring)

17

In [44]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [45]:
samplestring[8]

't'

In [47]:
samplestring[13]

'h'

In [48]:
samplestring[0,1,5,7]

TypeError: string indices must be integers, not 'tuple'

In [51]:
print(samplestring[8]+
samplestring[9]+
samplestring[10])

too

In [52]:
samplestring[11:17]

' short'

In [53]:
samplestring[:]

'Life is too short'

In [54]:
samplestring[::]

'Life is too short'

In [55]:
samplestring[::1]

'Life is too short'

In [56]:
samplestring[::4]

'L tst'

In [58]:
samplestring = "Life is too short, You need Python"
print(samplestring[0]+
      samplestring[5]+
      samplestring[8]+
      samplestring[24])

Lite

사용자 입력

In [59]:
input()

'Hello'

In [63]:
name = input('이름을 입력해주세요 : ')

print('당신의 이름은 ' + name+ '입니다')

당신의 이름은 최유진입니다

In [67]:
a = input()
b = input()

print(int(a) + int(b))

5

In [68]:
a = int(input('삼각형 밑면을 입력해주세요요'))
b =int(input('삼각형 높이를 입력해주세요요'))

print(a*b/2)

9.0

In [75]:
a = int(input('김밥 몇 개 주문하시겠어요?'))
b = int(input('떡볶이 몇 개 주문하시겠어요?'))
c = int(input('라면 몇 개 주문하시겠어요?'))
print('김밥주문갯수:' ,a )
print('떡볶이주문갯수:' ,b )
print('라면주문갯수:',c)
print('지불하실 금액은 ' ,3000*a + 3500*b + 2500*c, '입니다.')

김밥주문갯수: 34
떡볶이주문갯수: 3
라면주문갯수: 3
지불하실 금액은  120000 입니다.

In [76]:
a = float(input("첫 번째 값 입력: "))
b = float(input("두 번째 값 입력: "))

print(f'{a:.2f} *{b:.3f} = {a*b:,.2f}')

1000.23 *230.123 = 230,176.85

In [88]:
a = float(input("원의 반지름 입력(cm): "))
print(f'반지름:  {a:.1f} cm')
print(f'원의 둘레: {a*2*3.14:.1f} cm')
print(f'원의 넓이: {a**2*3.14:.1f} ㎤')

반지름:  150.7 cm
원의 둘레: 946.4 cm
원의 넓이: 71309.0 ㎤

In [89]:
type(a)

float

In [ ]:
money = False

if money:
    print('맛난거 먹기')
    print('노래방도 가고')
    print('영화도 보고')

In [91]:
num = int(input('숫자를 입력하세요'))

if num%2==1:
    print('홀수입니다')
else:
    print('짝수입니다')

짝수입니다

In [92]:
grade = int(input('점수를 입력하세요'))

if grade >=90:
    print('A')
elif grade >=80:
    print('B')
elif grade >=70:
    print('C')
elif grade >=60:
    print('D')
else :
    print('F')

C

In [93]:
year = int(input('출생연도를 입력하세요'))%10
age = int(input('나이를 입력하세요'))

if age >65:
    print('언제든지 마스크 구매가 가능합니다.')
elif year ==1 or year==6:
    print('월요일에 구매가 가능합니다.')
elif year ==2 or year==7:
    print('화요일에 구매가 가능합니다.')
elif year ==3 or year==8:
    print('수요일에 구매가 가능합니다.')
elif year ==4 or year==9:
    print('목요일에 구매가 가능합니다.')
else:
    print('금요일에 구매가 가능합니다.')

월요일에 구매가 가능합니다.

In [94]:
tall = int(input('키를 입력해주세요(cm)'))/100
weight = int(input('몸무게를 입력해주세요(kg)'))
BMI = weight/(tall*tall)
if BMI >=25:
    print('비만입니다.')
elif BMI >=23:
    print('과체중입니다')
elif BMI >=18.5:
    print('정상체중입니다.')
else:
    print('저체중입니다.')

정상체중입니다.

In [99]:
day = int(input('오늘은 몇 일?'))

if day <1 or day>31:
    print('일(day) 입력오류입니다.')
    breakpoint
else: 
    a=day%2

num = (input('차량번호 4자리 입력?(예:1234)'))
if len(num)<4 or len(num)>4:
    print('차량번호 입력 오류입니다.')
    breakpoint
else:
    b=int(num)%2

if a ==1 and b ==1:
    print('홀수 차량 운행날입니다.','운행가능합니다')
elif a ==1 and b ==0:
    print('홀수 차량 운행날입니다.','운행불가능합니다.')
elif a ==0 and b==1:
    print('짝수 차량 운행날입니다.','운전불가능합니다.')
else:
    print('짝수 차량 운행날입니다.','운행가능합니다.')

홀수 차량 운행날입니다. 운행불가능합니다.

In [3]:
name = input('이름을 입력해주세요: ')
num = int(input('방문 횟수를 입력하세요: '))

print(f'{name} 님 안녕하세요?')
print(f'오늘로 {num+1}회 방문하셨어요')

유진 님 안녕하세요?
오늘로 12회 방문하셨어요

In [9]:
jumin ='991225-1234567'

print(jumin[7],
jumin[0:2],
jumin[2:4],
jumin[4:6],
jumin[0:6],
jumin[7:])

1 99 12 25 991225 1234567

In [16]:
string = '이번역은 역삼역, 역삼역입니다. 앞으로 읽어도 역삼역 거꾸로 읽어도 역삼역'
print(string[-1::-1])

역삼역 도어읽 로꾸거 역삼역 도어읽 로으앞 .다니입역삼역 ,역삼역 은역번이

In [ ]:
user_id ='admin'
user_pw ='1234'

id = input('아이디를 입력해주세요: ')
pw = input('비밀번호를 입력해주세요: ')
if user_id != id :
    print("존재하지 않는 아이디입니다.")
elif user_id == id and user_pw != pw:
    print('올바르지 않은 비밀번호입니다.')
else:
    print('로그인에 성공했습니다.')

로그인에 성공했습니다.

In [31]:
i = 0
while i < 20:
    i = i+1
    print(f'{i}',end=" ")
    
print('반복문 종료')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 반복문 종료

In [32]:
a = 1
b = 0
i = int(input('합을 원하는 정수 값 입력: '))
while a <= i:
    b = b + a
    a = a +1
print(f'{b}')

5050

In [43]:
a = 1
b = 0
i=int(input('합을 원하는 정수 값 입력: '))
while a <= (i+1)//2:
    b = b+2*a-1
    a = a+1
print(f'{b}')

36

In [3]:
prompt ="""
1. ADD
2. DEL
3. QUIT

ENTER NUMBER:

"""
input_num = 0
while input_num !=3:
    print(prompt)
    input_num = int(input())

1. ADD
2. DEL
3. QUIT

ENTER NUMBER:



1. ADD
2. DEL
3. QUIT

ENTER NUMBER:



1. ADD
2. DEL
3. QUIT

ENTER NUMBER:



1. ADD
2. DEL
3. QUIT

ENTER NUMBER:

In [4]:
for i in "hello":
    print('hello python')

hello python
hello python
hello python
hello python
hello python

In [5]:
for i in range(5):
    print('hello python')

hello python
hello python
hello python
hello python
hello python

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
num = int(input('정수 값을 입력해주세요'))
a = 0
for i in range(num):
    i=i+1
    a = a+i
print(f'{a}')

5050

In [ ]:
dan = int(input('출력할 단 입력: '))
for i in range(1,10):
    print(f'{dan}*{i} = {i*dan}')

9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [15]:
dan= int(input('출력한 단 입력: '))
p=1
while p <=9:
    print(f'{p*dan}')
    p = p+1

9
18
27
36
45
54
63
72
81

In [27]:

for q in range(2,10):
    for i in range(1,10):
        print(f'{q}*{i}={i*q}')
        i=i+1
    q=q+1

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [36]:
for i in range(1,10):
    for q in range(2,10):
        print(f'{q}*{i}={i*q}', end="\t")
        q=q+1
    i=i+1
    print('')

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [39]:
#break 
a=0
for i in range(1,11):
    a=a+i
    if a>=20:
        print(i,a)
        break
print(a)

6 21
21

In [43]:
prompt ="""
1. ADD
2. DEL
3. QUIT

ENTER NUMBER:

"""
input_num = 0

while True:
    print(prompt)
    input_num = int(input())
    if input_num == 3:
        break

1. ADD
2. DEL
3. QUIT

ENTER NUMBER:



1. ADD
2. DEL
3. QUIT

ENTER NUMBER:



1. ADD
2. DEL
3. QUIT

ENTER NUMBER:

In [49]:
a=0
for i in range(1,11):
    if i %2 == 0:
        continue
    a=a+i
    print(i, end=" ")

print('\n',a)

1 3 5 7 9
 25

In [66]:
import random
answer=random.randint(1,100)
a=0
i=0
while answer!=a:
    a=int(input('1부터 100사이의 숫자를 맞춰주세요: '))
    if a>answer:
        print('너무 커요')
        i=i+1
    elif a<answer:
        print('너무 작아요')
        i=i+1
    else: 
        print('정답입니다.')
        i=i+1
        break
print(f'{i}회 만에 맞추셨습니다.')

너무 커요
너무 커요
너무 커요
너무 커요
너무 커요
정답입니다.
6회 만에 맞추셨습니다.

In [ ]:
import random
answer=random.randint(1,100)
a=0
b=int(input('모드를 정해주세요(10회모드는 1 무한모드는 2 입력)'))
if b==1:
    for i in range(10):
        a=int(input('1부터 100사이의 숫자를 맞춰주세요: '))
        if a>answer:
            print('너무 커요')
            
        elif a<answer:
            print('너무 작아요')
            
        else: 
            print('정답입니다.')
            break
elif b==2:
    while answer!=a:
        a=int(input('1부터 100사이의 숫자를 맞춰주세요: '))
        if a>answer:
            print('너무 커요')
            
        elif a<answer:
            print('너무 작아요')
            
        else: 
            print('정답입니다.')
            break

너무 작아요
너무 작아요
너무 작아요
너무 작아요
너무 커요
너무 커요
너무 커요
정답입니다.
10회를 모두 사용하셨습니다.

In [76]:
x=int(input('숫자를 입력해주세요: '))
a=0
while True:
    if a%3==0:
        a=a+1
        continue
    elif a%5==0:
        a=a+1
        continue
    elif a==x+1:
        break
    else:
        print(a,end=" ")
        a=a+1

1 2 4 7 8 11 13 14 16 17 19 22

In [159]:

for i in range(1,11):
    print('*'*(i))
print("")

*
**
***
****
*****
******
*******
********
*********
**********

LIST

In [171]:
a=[1,2,3]
b=['Life', 'is','too','short']
c=[1,'hello']
d=[1,'hello',[2,'hi']]
print(type(a[0]))
print(d[2])

<class 'int'>
[2, 'hi']

In [162]:
b=['Life', 'is','too','short']
print(b[0])

Life

In [167]:
b=['Life', 'is','too','short']
b[:3]

['Life', 'is', 'too']

In [168]:
b[:]

['Life', 'is', 'too', 'short']

In [169]:
b[0]

'Life'

In [173]:
d=[1,'hello',[2,'hi']]
d[2][0]

2

In [175]:
a = [1,2,3, ['a','b','c'],4,5]
a[3][:2]

['a', 'b']

In [178]:
a=[10,20,30,40,50]
print(a)
a[1:3]=[100]
print(a)

[10, 20, 30, 40, 50]
[10, 100, 40, 50]

In [179]:
max(a)

100

In [180]:
sum(a)

200

In [181]:
type(a)

list

In [182]:
sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [183]:
fruits=['apple','banana']
print(fruits)
fruits.append('cherry')
print(fruits)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [184]:
print(fruits)
fruits.insert(1,'mango')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']

In [185]:
fruits.remove('cherry')
print(fruits)

['apple', 'mango', 'banana']

In [186]:
fruits.pop(1)
print(fruits)

['apple', 'banana']

In [187]:
score=[100,30,50,80,90,70]

In [189]:
print(score)
score.reverse()
print(score)

[30, 50, 70, 80, 90, 100]
[100, 90, 80, 70, 50, 30]

In [190]:
len(score)

6

In [191]:
score=[100,50,30,50,80,50,90,50,70]
score.count(50)

4

In [193]:
sum(score)

570

In [195]:
marks = [90,25,67,45,80]
for i in range(5):
    if marks[i]>=60:
        print(f'{i+1}번 학생 합격입니다')
    else:
        print(f'{i+1}번 학생 불합격입니다')

1번 학생 합격입니다
2번 학생 불합격입니다
3번 학생 합격입니다
4번 학생 불합격입니다
5번 학생 합격입니다

In [ ]:
prompt="""
과일 가게에 오신 것을 환영합니다!
오늘 판매하는 과일: ['사과','바나나','오렌지','포도','수박']
"""

fruit=['사과'*3,'바나나'*3,'오렌지'*3,'포도'*3,'수박'*3]

In [207]:
print("끝말잇기 게임")
print("시작")
var="가나다"
print(var)
while True:
    a=input('단어를 입력해주세요: ')
    print('단어를 입력해주세요: ',a)
    if var[-1]==a[0]:
        var = a
    else:
        print('땡')
        break

끝말잇기 게임
시작
가나다
단어를 입력해주세요:  다리미
단어를 입력해주세요:  미어캣
단어를 입력해주세요:  안녕
땡

In [13]:
prompt="""
과일 가게에 오신 것을 환영합니다!
오늘 판매하는 과일:['사과', '바나나','오렌지','포도','수박'] 
"""
a=['사과','사과','사과','바나나','바나나','바나나','오렌지','오렌지','오렌지','포도','포도','포도','수박','수박','수박']
a.count('사과')
while len(a)!=0:
    choose=input('어떤 과일을 구매하시겠습니까? (종료하려면 "그만"을 입력하세요): ')
    print("현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']")
    if choose=='그만':
        break
    elif choose=='사과':
        a.remove('사과')
        print('사과를 구매하셨습니다! 남은 사과의 재고:', a.count('사과'))
    elif choose=='바나나':
        a.remove('바나나')
        print('바나나를 구매하셨습니다! 남은 바나나나의 재고:', a.count('바나나'))
    elif choose=='오렌지':
        a.remove('오렌지')
        print('오렌지를 구매하셨습니다! 남은 오렌지의 재고:', a.count('오렌지'))
    elif choose=='수박':
        a.remove('수박')
        print('수박을 구매하셨습니다! 남은 수박의 재고:', a.count('수박'))
    elif choose=='포도':
        a.remove('포도')
        print('포도를 구매하셨습니다! 남은 포도의 재고:', a.count('포도'))
    else:
        break
print('모든 과일이 다 팔렸습니다. 가게를 종료합니다.')

현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
사과를 구매하셨습니다! 남은 사과의 재고: 2
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
사과를 구매하셨습니다! 남은 사과의 재고: 1
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
사과를 구매하셨습니다! 남은 사과의 재고: 0
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
바나나를 구매하셨습니다! 남은 바나나나의 재고: 2
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
바나나를 구매하셨습니다! 남은 바나나나의 재고: 1
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
바나나를 구매하셨습니다! 남은 바나나나의 재고: 0
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
오렌지를 구매하셨습니다! 남은 오렌지의 재고: 2
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
오렌지를 구매하셨습니다! 남은 오렌지의 재고: 1
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
오렌지를 구매하셨습니다! 남은 오렌지의 재고: 0
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
포도를 구매하셨습니다! 남은 포도의 재고: 2
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
포도를 구매하셨습니다! 남은 포도의 재고: 1
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
포도를 구매하셨습니다! 남은 포도의 재고: 0
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
수박을 구매하셨습니다! 남은 수박의 재고: 2
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
수박을 구매하셨습니다! 남은 수박의 재고: 1
현재 재고:[',a.count('사과'),a.count('바나나나'),a.count('오렌지'),a.count('포도'),a.count('수박') ']
수박을 구매하셨습니다! 남은 수박의 재고: 0
모든 과일이 다 팔렸습니다. 가게를 종료합니다.

In [9]:
len(a)

0